:root {
  --brand: #fcc702;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Henny Penny',
    cursive;
}

.about,
.contact,
.products {
  padding-top: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  list-style: none;
  text-decoration: none;
  margin: 0 20px;
  font-size: 30px;
  color: var(--brand);
}

a:hover {
  transform: translateY(-3px);
  text-decoration: none;
  transition: all .5s linear;
}


.banner {
  height: 100vh;
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./img/wave.png') no-repeat center;
  background-size: cover;
  z-index: -100;
}

input[type="text"] {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--brand);
  font-size: 24px;
  margin: 20px 0;
  outline: none;
}

input[type="text"]:hover {
  border-bottom: 2px solid #000;
}

input[type="submit"] {
  font-weight: 900;
  width: 200px;
  border: 0;
  margin: 20px auto;
  font-size: 20px;
  padding: 10px;
  color: #fff;
  background: var(--brand);
  outline: none;
}

input[type="submit"]:hover {
  box-shadow: 10px 10px 10px #e3e3e3;
}

.rotate {
  transform: rotate(180deg);
  z-index: -100;
  width: 100%;
  height: 40%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.bg {
  background-color: var(--brand);
}

.title {
  font-size: 60px;
  font-family: 'Mystery Quest', cursive;
  color: var(--brand);
  text-shadow: 10px 10px 10px #e3e3e3;
}

.mango-bar {
  width: 300px;
  bottom: 200px;
  right: 10px;
  animation: trans ease-in-out 16s infinite;
}

.col-sm-4 {
  height: 300px;
}

.col-sm-4:hover {
  transform: scale(1.09);
  transition: all 1.2s linear;
}

.footer {
  bottom: 0;
  right: 10px;
}


.slide {
  margin: 0 auto;
  margin-top: 5vh;
  width: 50%;
  height: 400px;
}

.text {
  bottom: 10px;
  right: 10px;
  margin: 0 auto;
}

.content {
  background: url('./img//bg.png') no-repeat;
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 90px;
}

.abg {
  z-index: -100;
  top: -100px;
  right: 30px;
}

.min {
  z-index: 300;
}

.about .contents {
  padding: 50px 0;
  font-size: 20px;
  font-family: 'Finger Paint',
    cursive;
}

@keyframes trans {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-90px);
  }

  100% {
    transform: translateY(0);
  }
}